<ul class="nav nav-list">
{% if LINKS %}
<li class="nav-header"><h4><i class="fa-solid fa-arrow-up-right-from-square"></i>blogroll</h4></li>
{% for name, link in LINKS %}
    <li><a href="{{ link }}"><i class="fa-solid fa-arrow-up-right-from-square"></i>{{ name }}</a></li>
{% endfor %}
{% endif %}
{% if SOCIAL %}
<li class="nav-header"><h4><i class="fa-solid fa-users fa-lg"></i> social</h4></li>
<li><a href="{{ SITEURL }}/{{ FEED }}" rel="alternate"><i class="fa-solid fa-rss fa-lg"></i>atom feed</a></li>
{% if FEED_RSS %}
<li><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate"><i class="fa-solid fa-rss fa-lg"></i>rss feed</a></li>
{% endif %}
{% for name, link in SOCIAL %}
    <li><a href="{{ link }}"><i class="fa-brands fa-{{ name }} fa-lg"></i> {{ name }}</a></li>
{% endfor %}
{% endif %}

<li class="nav-header"><h4><i class="fa-solid fa-folder fa-lg"></i> Categories</h4></li>
{% for cat, null in categories %}
<li>
<a href="{{ SITEURL }}/{{ cat.url }}">
    <i class="fa-solid fa-folder-open fa-lg"></i> {{ cat }}
</a>
</li>
{% endfor %}

<li class="nav-header"><h4><i class="fa-solid fa-tags fa-lg"></i> Tags</h4></li>
{% for tag in tag_cloud %}
<li class="tag-{{ tag.1 }}">
    <a href="{{ SITEURL }}/{{ tag.0.url }}">
        <i class="fa-solid fa-tag fa-lg"></i> {{ tag.0 }}
    </a>
</li>
{% endfor %}

{% include 'twitter_profile.html' %}
{% include 'search_sidebar.html' %}

{% if SIDEBAR_CUSTOM %}
    {{ SIDEBAR_CUSTOM }}
{% endif %}
</ul>
